
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0d0d0d;
}

#renderCanvas {
  width: 100vw;
  height: 100vh;
  display: block;
  background: radial-gradient(circle at center, #111, #0d0d0d);
}
